
importFrom(utils, download.file, head)
importFrom(httr, GET, POST, http_status, content, stop_for_status)
importFrom(png, readPNG, writePNG)
importFrom(Biostrings, readAAStringSet, readDNAStringSet,
    DNAStringSet, AAStringSet)
import(methods)

export(
    keggInfo,
    keggList,
    listDatabases,
    keggFind,
    keggGet,
    keggConv,
    keggLink,
    mark.pathway.by.objects,
    color.pathway.by.objects
)

